<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
  </head>
  <body>
    <h2> Author</h2>    
      <table class="author-table">        
        <tr>
          <th class="profile-image" rowspan="2"></th>
          <td><b>Nombre:</b>  Daniel Arceo</td>
        </tr>
        <tr>
          <td><b>Ocupación:</b>Consultant at <a class="business-name">Incentro</a></td>
        </tr>
      </table>   
  </body>
</html>
